.short-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;       /* WebKit-based browsers */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  line-clamp: 2;                /* standardno svojstvo */
  box-orient: vertical;         /* standardno svojstvo */
}
